# Django
SECRET_KEY=chave-super-secreta
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,web

# PostgreSQL
# Formato: postgres://usuario:senha@host:porta/nome_do_banco
# OBS: Sem o database_url roda normalmente utilizando o sqlite3
DATABASE_URL=postgres://usuario:senha@localhost:5432/devtasks_db

# Redis
# Formato: redis://host:porta/numero_do_banco
# OBS: Sem o redis_url roda normalmente utilizando a memória local
REDIS_URL=redis://localhost:6379/1

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=7